block content
  h2 Admin invite
  p Hello, you have been invited to join Featherweight CMS as an administrator. Click the link and sign up in the next 12 hours to do so.
  a(href=`${inviteURL}`) Sign Up →
  p If you can't click the above button please visit #{inviteURL}
  br
  p If you didn't request this email, please ignore it.
  strong If you do not complete registration in 12 hours, this link will expire.
