extends adminLayout

block content 
  div(class="admin-not-found__container")
    h1 404 not found
    p The page you were looking for could not be found. 
    a(href="/") Head back to the Admin Home.