extends layout

include mixins/_postItem
include mixins/_hero
block content

  +hero()

  main
    - var oddPost = false
    each post in posts
      +postItem(post, oddPost)
      - oddPost = !oddPost
