include mixins/_topBar
include mixins/_footer

doctype html
html
  head
    title= title
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Raleway:400,400i,700,900" rel="stylesheet">
    link(rel='stylesheet', href='/dist/style.css')
    script(src="/dist/app.bundle.js" defer)
  body

  header
    +topBar()

  block content

  +footer()

