doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet', href='/dist/admin-style.css')
    script(src="/dist/app.bundle.js" defer)
    script(src="/dist/admin.bundle.js" defer)
  body

  block messages
    if locals.flashes
      .flash-messages
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash__text!= message
              button.flash__remove(onClick="this.parentElement.remove()") &times;

    block content

    a(href="/admin") Admin Home