extends adminLayout

block content
  .inner
    form(method="POST")
      h2 Reset Your Password
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Reset Password →")

