// Body
body {
  background-color: $off-white;
  position: relative;
}

main {
  @media only screen and (min-width: $mobile-up) {
    margin: 0 auto;
    padding: 60px 30px;
  }
  max-width: 1200px;
}

.hide {
  display: none !important;
}

.small--hide {
  @media only screen and (max-width: $mobile-down) {
    display: none !important;
  }
}

.medium-up--hide {
  @media only screen and (min-width: $mobile-up) {
    display: none !important;
  }
}

.fade-image-in {
  @include image-blur;
}

.loading-circle {
  @include loading-icon;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.title-slide-up {
  @include title-slide-in;
}

.body-overlay {
  content: '';
}

.open {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($dark-grey, 0.5);
  z-index: 9;
}

::-webkit-scrollbar {
  display: none;
}
