// Colors
$white: #ffffff;
$black: #000000;
$off-white: #fafafa;
$light-grey: #d0d0d0;
$grey: #a2a2a2;
$dark-grey: #3b3b3b;

$primary-color: #28c5a6;
$primary-color-dark: darken($primary-color, 15%);
$primary-color-light: lighten($primary-color, 15%);

$secondary-color: #ffd833;
$secondary-color-dark: darken($secondary-color, 15%);
$secondary-color-light: lighten($secondary-color, 15%);

$overlay-opacity: 0.75;
// Typography
$header-font: 'Libre Baskerville', serif;
$body-font: 'Raleway', sans-serif;

// Breakpoint

$mobile: 780px;
$mobile-up: 781px;
$mobile-down: 779px;
