//@import "~tinymce/skins/skin.min.css";

// @import  "tinymce/themes/skins/skin.min.css";
@import "./skins/lightgray/skin.min.css";
$blue: #00b7ff;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000;
}

a {
  color: $blue;
  font-size: 10px;
}
