// Top Bar
.top-bar {
  padding: 0 1.5rem;
  background-color: $dark-grey;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  position: fixed;
  top: 0;
  z-index: 9;
  height: 3rem;
  overflow-x: hidden;
  width: 100%;
}

.top-bar__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__linklist {
  white-space: nowrap;
}

.nav__item {
  display: inline-block;
}
.nav__link {
  @include menu-link;
}
