mixin topBar()
  div(class="top-bar")

    div(class="top-bar__logo")
      a(href="/")
        h3 Featherweight

    div(class="top-bar__nav small--hide")
      nav(class="nav")
        if settings.headerMenu
          ul(class="nav__linklist")
            each item in settings.headerMenu
              li(class="nav__item")
                a(class="nav__link" href=item.url) #{item.name}
    div(class="trigger medium-up--hide")
      span(class="trigger__bar")
      span(class="trigger__bar")
      span(class="trigger__bar")
