// Styles for various admin sections

// Styles for /admin/menus pages

.remove-menu-item-btn {
  margin-top: 23px;
  margin-bottom: 0px;
}
.add-menu-item {
  margin-right: 10px;
}

// Styles for Post form
.delete-post-btn {
  margin-right: 10px;
}
